.heder {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #ED4C5C;
}

.textmain {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    top: 122px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}


.text {
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    top: 253px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;  
}

.vector {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    margin-left: 163px;
    margin-top: 357px;
}

.appstore {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 55px;
    top: 0px;
    padding-left: 149px;
    margin-top: 357px;
}

.windows {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 110px;
    top: 4px;
    margin-top: 357px;
    margin-left: 140px;
}



.imgl {
    position: absolute;
    width: 383px;
    height: 267px;
    left: 691px;
    top: 116px;
    background: url(.jpg), #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
}

.img1 {
    position: relative;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 94px;
    background: url(.jpg), #C4C4C4;
    border-radius: 15px;
}

.imgr {
    position: absolute;
    width: 383px;
    height: 267px;
    left: 841px;
    top: 116px;
    background: url(.jpg), #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
}


.main {
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 500px;
    background: #FFFFFF;
}

.contact {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 176px;
    top: 617px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}


.text2 {
    position: absolute;
    width: 434px;
    height: 64px;
    left: 176px;
    top: 713px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;  
    color: #000000;
}

.first {

    padding-left: 31px;
    box-sizing: border-box;
    position: absolute;
    width: 255px;
    height: 60px;
    left: 735px;
    top: 617px;
    border: 1px solid #333333;
    border-radius: 6px;
}

.last {
    padding-left: 31px;
    box-sizing: border-box;
    position: absolute;
    width: 255px;
    height: 60px;
    left: 1020px;
    top: 617px;
    border: 1px solid #333333;
    border-radius: 6px;
}

.phone {
    padding-left: 31px;
    box-sizing: border-box;
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 701px;
    border: 1px solid #333333;
    border-radius: 6px;
}

.select {
    padding-left: 31px;
    box-sizing: border-box;
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 785px;
    border: 1px solid #333333;
    border-radius: 6px;
}

.submit {
    box-sizing: border-box;
    position: absolute;
    width: 160px;
    height: 50px;
    left: 735px;
    top: 872px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
}


.now {
    padding-left: 24px;
    width: 92px;
    height: 17px;
    left: 769px;
    top: 889px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;  
    color: #FFFFFF;
}

.service {
    position: absolute;
    width: 98px;
    height: 19px;
    left: 766px;
    top: 806px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    opacity: 0.5;
}


.footer {
    display: flex;
    position: absolute;
    width: 1440px;
    height: 435px;
    left: 0px;
    top: 1045px;
    background: #FAFAFA;
}


.address {

    width: 142px;
    height: 22px; 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;  
    color: #101010;
}


.pipeng {
    padding-top: 33px;
    width: 129px;
    height: 54px;
    left: 166px;
    top: 1185px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%; 
    color: #101010;
}

.ser{

    width: 67px;
    height: 22px;
    left: 450px;
    top: 1130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;  
    color: #101010;
}


.over {
    position: absolute;
    width: 254px;
    height: 114px;
    left: 450px;
    top: 1180px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;   
    color: #000000;
}

.techno {
    padding-top: 33px;
    width: 254px;
    height: 114px;
    left: 450px;
    top: 1180px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}

.foot1 {
margin-top: 85px;
margin-left: 166px;

}

.foot2 {

margin-top: 85px;
margin-left: 184px;

}

.foot3 {
margin-top: 85px;
margin-left: 115px;
}


.foot4 {

margin-top: 85px;
margin-left: 176px;
}



.visa {
    padding-top: 33px;
    width: 216px;
    height: 31px;
    left: 1028px;
    top: 1185px;
    background: url(secure-p-1.png);
}

.get {
    width: 101px;
    height: 22px;
    left: 734px;
    top: 1130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
} 


.info {
    padding-top: 33px;
    width: 122px;
    height: 14px;
    left: 734px;
    top: 1185px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;

}


.tel {
    width: 96px;
    height: 14px;
    left: 734px;
    top: 1210px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #121212;
}


.support {

    width: 96px;
    height: 22px;
    left: 1022px;
    top: 1130px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}


.copy {
    position: absolute;
    width: 155px;
    height: 14px;
    left: 161px;
    top: 347px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

.face {
   margin-top: 20px; 

}


.in {
    margin-left: 10px;
    margin-top: 21px;
}

.twit {
    margin-top:20px;
    margin-left: 11px;
   
}
